---
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Layout from "@layouts/Layout.astro";
import CodeHero from "@components/codeHero.astro";

---

<Layout title="">
  <Container>
    <CodeHero />

 <!-- Content in HTML -->
 <div class="mt-24 gap-16 pb-8 mx-auto max-w-4xl prose prose-gray my-8">
  
  <p>The&nbsp;Developer Marketing Community&nbsp;is committed to creating a welcoming and inclusive environment for everyone in the Slack community. This Code of Conduct outlines our expectations to ensure a positive and respectful experience for everyone.&nbsp;We will enforce this code and we expect cooperation from&nbsp;everyone to help ensure a safe environment for everybody.</p>
  <p>We do not tolerate any form of harrassment.</p>
  <p>Harassment includes any offensive messages and comments related to gender, gender identity and expression, age, sexual orientation, disability, physical appearance, race, ethnicity, religion, technology choices, deliberate intimidation, stalking,&nbsp;and&nbsp;any inappropriate&nbsp;behaviour towards one another.</p>
  <p>If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact the admins of the community.</p>
  <p>We expect&nbsp;all community members to follow these rules at conference and workshop venues and conference-related social events.</p>
<p><em>Adapted from the&nbsp;<a href="https://confcodeofconduct.com/">Conference Code of Conduct</a>.</em></p>
<p>&nbsp;</p>
  <h2><strong>Solicitation</strong></h2>
  <p>We believe this community is an awesome, safe place to find inspiration, get insights, feedback, and support.</p>
  <p>You can ask for help in #ask-anything, post job opportunities and availabilities in #jobs, share product launches, blog posts, moods, memes, and anything else in #share-anything.</p>
  <p>However, we're strongly&nbsp;against&nbsp;soliciting&nbsp;in DMs. This community is built for members to discuss the work that they do and learn from one another. It is not intended to generate leads, harvest ideas, or directly ask for favors.&nbsp;</p>
  <p>It is <strong>NOT </strong>appropriate to <strong>DIRECTLY</strong> reach out to community members (using DMs) to</p>
  <ul>
  <li>ask for likes or upvotes</li>
  <li>sell them your product</li>
  <li>ask for their opinion on your product or content</li>
  <li>request feedback or user research participation</li>
  <li>explore investment opportunities</li>
  <li>or otherwise ask a community member for information, time, attention, or money in order to materially benefit your company, portfolio company, or open source project.</li>
  </ul>
  <p>It&rsquo;s totally fine to ask for these things <strong>publicly</strong> in #share-anything or #watercooler-chat and request responses via DM if you prefer.</p>
  <p>DMs are great if you know the person and/or have agreed to chat about something beforehand, but&nbsp;<strong>unsolicited DMs to promote your product and/or be salesy will lead to account deactivation.</strong></p>
  <p>Please note: The #ask-anything channel is for asking <strong>questions</strong> in the community. It is not intended to ask for likes or feedback.</p>
  <p>We believe you can bring enormous value to the slack and encourage you to engage with the community, but we will remove users who solicit from the community. Please keep it in public channels and ensure you have public consent before reaching out to anyone via DM.</p>

</div>

    <Cta />
  </Container>
</Layout>
