---
import Link from "./ui/link.astro";
---

<div
  class="bg-black p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-left text-left">
  <h1 class="text-white text-4xl md:text-6xl font-semibold tracking-tight">
    Request an invite.
  </h1>
  <p class="text-slate-100 mt-8 text-lg md:text-xl">
    Join 900+ developer marketers learning, teaching, and collaborating with one another.
  </p>
  <div class="flex mt-8">
    <Link href="https://go.marketingto.dev/join" style="inverted">Request an invite</Link>
  </div>
</div>
