---
import Link from "./ui/link.astro";
---

<div
  class="bg-black p-8 md:px-20 md:py-20 mt-20 mb-8 mx-auto max-w-5xl rounded-2xl flex flex-col items-center text-center">
  <h1 class="text-white text-3xl md:text-5xl font-bold tracking-tight">
    Request an invite.
  </h1>
  <p class="text-slate-300 mt-4 text-lg md:text-xl max-w-lg">
    Join 2.5K+ developer marketers learning, teaching, and collaborating with one another.
  </p>
  <div class="flex mt-8">
    <Link href="https://go.marketingto.dev/join" style="inverted">Request an invite</Link>
  </div>
</div>
