---
// @ts-ignore
import Sectionhead from "@components/sectionhead.astro";

const features = [
  {
    title: "Developer marketing only",
    description:
      "From companies like Algolia, PostHog, and Kong, we're actively discussing relevant API marketing topics. No fluff. No noise.",
    icon: "bx:bxs-check-circle",
  },
  {
    title: "Globally distributed",
    description:
      "With members spread across from the West Coast to New Zealand, there's always someone in your time zone to chat with.",
    icon: "bx:bxs-check-circle",
  },
  {
    title: "Actionable experiences",
    description:
      "With expertise in SEO, CRM, PMM, GTM, and everything in between, there's always someone willing to share their insights.",
    icon: "bx:bxs-check-circle",
  },
  {
    title: "#ask-anything",
    description:
      "Our most active channel is to address pressing questions. ProductHunt? Emails? Ads? SEO? Speak with people doing similar things in the space.",
    icon: "bx:bxs-check-circle",
  },
  {
    title: "#share-anything",
    description:
      "We're all for a spam-free space to share knowledge, resources, and ideas. Interact with an incredible wealth of resources to learn from and engage with.",
    icon: "bx:bxs-check-circle",
  },
  {
    title: "#jobs",
    description:
      "Whether you're looking for something new, or want to share openings on your team, reach out to people operating in the same niche!",
    icon: "bx:bxs-check-circle",
  },
];
---

<Sectionhead>
  <Fragment slot="title">Be a better developer marketer.</Fragment>
  <Fragment slot="desc">We're all about sharing, asking, and supporting one another to level up our dev marketing chops.</Fragment>
</Sectionhead>

<div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12 pt-0 pb-12">  
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
