---
// @ts-ignore
import { Icon } from "astro-icon";
import Sectionhead from "@components/sectionhead.astro";

const features = [
  {
    title: "Developer marketing only",
    description:
      "From API-first companies like Algolia, PostHog, and Elastic, we're a bunch of marketers actively discussing API marketing topics. No eCommerce, no Fintech, no noise.",
    icon: "bx:bxs-check-circle",
  },
  {
    title: "Globally distributed",
    description:
      "With members spread across from the West Coast to New Zealand, there's always someone in your time zone to chat with.",
    icon: "bx:bxs-check-circle",
  },
  {
    title: "Actionable experiences",
    description:
      "With expertise covering SEO, CRM, Automation, PMM, Strategy, GTM, and everything in between, there's always someone willing to share their experiences.",
    icon: "bx:bxs-check-circle",
  },
  {
    title: "#ask-anything",
    description:
      "Our most active channel is for anyone to address their most pressing questions. ProductHunt launch? Email marketing to devs? Speak with someone who's been there!",
    icon: "bx:bxs-check-circle",
  },
  {
    title: "#share-anything",
    description:
      "We're all for a spam-free space to share knowledge, resources, and ideas. Our community has an incredible wealth of resources for anyone to learn from and engage with.",
    icon: "bx:bxs-check-circle",
  },
  {
    title: "#jobs",
    description:
      "Dev marketing is quite the niche, and it isn't always easy to transfer skills in and out of the space. With 700+ dev marketers, there's always great API companies to check out.",
    icon: "bx:bxs-check-circle",
  },
];
---

<Sectionhead>
  <Fragment slot="title">Be a better developer marketer</Fragment>
  <Fragment slot="desc">We're all about sharing, asking, and supporting one another to level up our dev marketing chops.</Fragment>
</Sectionhead>

<div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12 pt-8 pb-8">  
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
