---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Developer Marketing only",
    description:
      "From API-first companies like Algolia, PostHog, and Elastic, we're a bunch of marketers actively discussing API marketing topics. No eCommerce, no Fintech, no noise.",
    icon: "bx:bxs-check-circle",
  },
  {
    title: "Globally distributed",
    description:
      "With members spread across from the West Coast to New Zealand, there's always someone in your time zone to chat with.",
    icon: "bx:bxs-check-circle",
  },
  {
    title: "Actionable experiences",
    description:
      "With expertise covering SEO, CRM, Automation, PMM, Strategy, GTM, and everything in between, there's always someone willing to share their experiences.",
    icon: "bx:bxs-check-circle",
  },
  {
    title: "#ask-anything",
    description:
      "Our most active channel is for anyone to address their most pressing questions. ProductHunt launch? Email marketing to devs? Speak with someone who's been there!",
    icon: "bx:bxs-check-circle",
  },
  {
    title: "#share-anything",
    description:
      "We're all for a spam-free space to share knowledge, resources, and ideas. Our community has an incredible wealth of resources for anyone to learn from and engage with.",
    icon: "bx:bxs-check-circle",
  },
  {
    title: "#jobs",
    description:
      "Dev marketing is quite the niche, and it isn't always easy to transfer skills in and out of the space. With 600+ dev marketers, there's always great API companies to check out.",
    icon: "bx:bxs-check-circle",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Be a better developer marketer
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Join some truly amazing people active in marketing APIs and developer tools.
  </p>
  <p class="text-lg mt-4 text-slate-600">
    We're all about sharing, asking, and supporting one another to level up our dev marketing chops.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
