<footer class="mt-20 mb-12 pt-8 border-t border-gray-100">
  <p class="text-center text-sm text-slate-400">
    &copy; {new Date().getFullYear()} marketingto.dev. All rights reserved
  </p>
  <p class="text-center text-sm text-slate-400 pt-2 pb-2">
    Co-run by
    <a
      href="https://twitter.com/gunnyganatra"
      target="_blank"
      rel="noopener"
      class="text-slate-500 hover:text-gray-900 transition-colors">
      Ronak Ganatra
    </a>,
    <a
      href="https://twitter.com/jczakon/"
      target="_blank"
      rel="noopener"
      class="text-slate-500 hover:text-gray-900 transition-colors">
      Jakub Czakon
    </a>,
    <a
      href="https://twitter.com/fmerian"
      target="_blank"
      rel="noopener"
      class="text-slate-500 hover:text-gray-900 transition-colors">
      Flo Merian
    </a>, and
    <a
      href="https://www.linkedin.com/in/ophirprusak/"
      target="_blank"
      rel="noopener"
      class="text-slate-500 hover:text-gray-900 transition-colors">
      Ophir Prusak
    </a>
  </p>
  <p class="text-center text-xs text-slate-400 mt-1">
    Built with Astro and deployed on Vercel &mdash; Cookieless Analytics via <a
    href="https://app.splitbee.io/projects/marketingto.dev"
    target="_blank"
    rel="noopener"
    class="text-slate-500 hover:text-gray-900 transition-colors">
    Splitbee
  </a> &mdash; Supported by <a
    href="https://dub.co/"
    target="_blank"
    rel="noopener"
    class="text-slate-500 hover:text-gray-900 transition-colors">Dub
  </a> and <a
    href="https://crowd.dev/"
    target="_blank"
    rel="noopener"
    class="text-slate-500 hover:text-gray-900 transition-colors">Crowd.dev
  </a> and <a
    href="https://n8n.io/"
    target="_blank"
    rel="noopener"
    class="text-slate-500 hover:text-gray-900 transition-colors">n8n
  </a>
  </p>

  <p class="text-center text-xs text-slate-400 mt-1">
    Template adapted from <a
      href="https://github.com/surjithctly/astroship"
      target="_blank"
      rel="noopener"
      class="text-slate-500 hover:text-gray-900 transition-colors">
      surjithctly
    </a>&mdash; Hero image created using <a
    href="https://www.bing.com/images/create/"
    target="_blank"
    rel="noopener"
    class="text-slate-500 hover:text-gray-900 transition-colors">
    Bing Image Creator
  </a>
  </p>

</footer>
