<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    Copyright Â© {new Date().getFullYear()} marketingto.dev. All rights reserved.
  </p>
  <!--
    Can we ask you a favor ðŸ™
    Please keep this backlink on your website if possible.
    or Purchase a commercial license from https://web3templates.com
  -->
  <p class="text-center text-xs text-slate-500 mt-1">
    Built with Astro and deployed on Vercel. Template adapted from <a
      href="https://github.com/surjithctly/astroship"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      surjithctly
    </a>. Hero image adapted from <a
    href="https://society6.com/product/steve-ballmer-developers-developers_stretched-canvas?sku=s6-8720971p16a6v66"
    target="_blank"
    rel="noopener"
    class="hover:underline">
    Society6
  </a>
  </p>
</footer>
