---
// @ts-ignore
import { Icon } from "astro-icon";
---

<div class="mt-24 gap-16">
  <h2 class="text-center text-slate-500">Buzzing with inputs from 700+ of the best marketers at developer centric companies</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <Icon class="h-8 md:h-12" name="simple-icons:github" />
    <Icon class="h-8 md:h-12" name="simple-icons:microsoft" />
    <Icon class="h-8 md:h-14" name="simple-icons:supabase" />
    <Icon class="h-8 md:h-16" name="simple-icons:docker" />
    <Icon class="h-8 md:h-12" name="simple-icons:sentry" />
    <Icon class="h-8 md:h-12" name="simple-icons:algolia" />
  </div>
</div>
