---
import { Icon } from "astro-icon/components";
import Sectionhead from "@components/sectionhead.astro";
---

<Sectionhead>
  <Fragment slot="title">You're in <del>good</del> great company!</Fragment>
  <Fragment slot="desc">Join founders and marketing peers from awesome dev-first companies to share insights and best practices.</Fragment>
</Sectionhead>

<div class="mt-12 pb-8">
  <div class="mx-auto max-w-4xl grid grid-cols-4 md:grid-cols-7 gap-8 md:gap-10 place-items-center mt-12">
    <Icon class="w-10 h-10 md:w-16 md:h-16" name="simple-icons:github" />
    <Icon class="w-10 h-10 md:w-16 md:h-16" name="simple-icons:microsoft" />
    <Icon class="w-10 h-10 md:w-16 md:h-16" name="simple-icons:supabase" />
    <Icon class="w-10 h-10 md:w-16 md:h-16" name="simple-icons:docker" />
    <Icon class="w-10 h-10 md:w-16 md:h-16" name="simple-icons:sentry" />
    <Icon class="w-10 h-10 md:w-16 md:h-16" name="simple-icons:algolia" />
    <Icon class="w-10 h-10 md:w-16 md:h-16" name="simple-icons:vercel" />
    <Icon class="w-10 h-10 md:w-16 md:h-16" name="simple-icons:elastic" />
    <Icon class="w-10 h-10 md:w-16 md:h-16" name="simple-icons:hashnode" />
    <Icon class="w-10 h-10 md:w-16 md:h-16" name="simple-icons:nginx" />
    <Icon class="w-10 h-10 md:w-16 md:h-16" name="simple-icons:prisma" />
    <Icon class="w-10 h-10 md:w-16 md:h-16" name="simple-icons:snyk" />
    <Icon class="w-10 h-10 md:w-16 md:h-16" name="simple-icons:hasura" />
    <Icon class="w-10 h-10 md:w-16 md:h-16" name="simple-icons:snowflake" />
  </div>
</div>
