---
import { Icon } from "astro-icon/components";
---

<div class="py-12 border-t border-gray-100">
  <p class="text-sm font-medium text-slate-400 uppercase tracking-wider text-center">You're in great company</p>
  <div class="mx-auto max-w-4xl grid grid-cols-4 md:grid-cols-7 gap-8 md:gap-10 place-items-center mt-8">
    <Icon class="w-8 h-8 md:w-12 md:h-12 text-slate-300 hover:text-slate-600 transition-colors" name="simple-icons:github" />
    <Icon class="w-8 h-8 md:w-12 md:h-12 text-slate-300 hover:text-slate-600 transition-colors" name="simple-icons:microsoft" />
    <Icon class="w-8 h-8 md:w-12 md:h-12 text-slate-300 hover:text-slate-600 transition-colors" name="simple-icons:supabase" />
    <Icon class="w-8 h-8 md:w-12 md:h-12 text-slate-300 hover:text-slate-600 transition-colors" name="simple-icons:docker" />
    <Icon class="w-8 h-8 md:w-12 md:h-12 text-slate-300 hover:text-slate-600 transition-colors" name="simple-icons:sentry" />
    <Icon class="w-8 h-8 md:w-12 md:h-12 text-slate-300 hover:text-slate-600 transition-colors" name="simple-icons:algolia" />
    <Icon class="w-8 h-8 md:w-12 md:h-12 text-slate-300 hover:text-slate-600 transition-colors" name="simple-icons:vercel" />
    <Icon class="w-8 h-8 md:w-12 md:h-12 text-slate-300 hover:text-slate-600 transition-colors" name="simple-icons:elastic" />
    <Icon class="w-8 h-8 md:w-12 md:h-12 text-slate-300 hover:text-slate-600 transition-colors" name="simple-icons:hashnode" />
    <Icon class="w-8 h-8 md:w-12 md:h-12 text-slate-300 hover:text-slate-600 transition-colors" name="simple-icons:nginx" />
    <Icon class="w-8 h-8 md:w-12 md:h-12 text-slate-300 hover:text-slate-600 transition-colors" name="simple-icons:prisma" />
    <Icon class="w-8 h-8 md:w-12 md:h-12 text-slate-300 hover:text-slate-600 transition-colors" name="simple-icons:snyk" />
    <Icon class="w-8 h-8 md:w-12 md:h-12 text-slate-300 hover:text-slate-600 transition-colors" name="simple-icons:hasura" />
    <Icon class="w-8 h-8 md:w-12 md:h-12 text-slate-300 hover:text-slate-600 transition-colors" name="simple-icons:snowflake" />
  </div>
</div>
