---
const { align = "center" } = Astro.props;
---

<div class:list={["grid md:grid-cols-1 mx-auto max-w-4xl mt-16", align === "left" && "text-left"]}>
  <h1 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    <slot name="title">Title</slot>
  </h1>
  <p class="text-lg mt-4 text-slate-600">
    <slot name="desc">Some description goes here</slot>
  </p>
</div>
